<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Idle (32x32)_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,31},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,28}}</string>
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>

			<key>Idle (32x32)_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,0},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,28}}</string>
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>

			<key>Idle (32x32)_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,29},{24,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,29}}</string>
				<key>sourceSize</key>
				<string>{24,29}</string>
			</dict>

			<key>Idle (32x32)_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{24,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,30}}</string>
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,64}</string>
			<key>textureFileName</key>
			<string>Idle.png</string>
			</dict>
		</dict>
</plist>